fastapi
uvicorn[standard]
gunicorn
boto3
pydantic
pyyaml
mysql-connector-python
croniter
loguru
pyfiglet
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
python-jose[cryptography]
python-multipart
cachetools
redis>=4.6
cryptography
requests